body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.appcontain {
  position: relative;
  width: 100%;
  height: 100dvh;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right bottom, rgb(240, 235, 233), #4895d9);
  overflow: scroll;
}

.appcontainC {
  position: relative;
  width: 100%;
  height: 100dvh;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right bottom, rgb(240, 235, 233), rgb(28, 135, 217));
  overflow: scroll;
}

.contains{
  position: relative;
  width: 100vw;
  height: 100dvh;
  padding: 0;
  margin: 0;
  background-image:linear-gradient(to right bottom, white, #4895d0);
  overflow: scroll;
}

.navbarA {
  position: sticky;
  top: 0%;
  z-index: 100;
  width: 100vw;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #52591d;
  border-bottom: #f23d4c 12px solid;
}

.navpanela {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 75px;
  padding: 0;
  margin: 0;
  background-color: rgb(150, 41, 29);
}

.navpanel {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 85px;
  padding: 0;
  margin-top: -1px;
  background-color:#52591d;
}

.navbarBcon {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 85px;
  padding: 0;
  margin: 0;
}

.navbarB {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 85px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navtxt {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 0;
  margin: 0;
}

.ktcnameB{
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 0;
  margin-right: 4%;
  margin-top: -140px;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
}

.flexpage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

.pagesection {
  position: relative;
  height: 100dvh;
  margin: 0;
  padding: 0;
}

.mgntop10 {
  margin-top: 10%;
}

.mgntop5 {
  margin-top: 5%;
}

.mgntop20 {
  margin-top: 20%;
}

.ktclogo {
  position: absolute;
  top: 12%;
  left: 2%;
  padding: 0;
  margin: 0;
} 

.ktcslogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

.ktcslogan h1 {
  color: rgb(239, 239, 239);
  font-size: 2rem;
  line-height: 2.5;
  padding: 0;
  margin: 0;
}

.ktcsloganB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ktcsloganB h1 {
  color: white;
  font-size: 2rem;
  line-height: 2.5;
  padding: 0;
  margin: 0;
}

.logo_oversize5t5 {
  width: 100vw;
  height: 150px;
  padding: 0;
  margin-top: -8px;
  background-color: #4895d9;
  overflow: visible;
}

.logo_oversize56::before {
  content: " ";
  position: absolute;
  top: 40px;
  left: 0;
  width: 35%;
  height: 35%;
  background-image: url('../public/KTClogoAlphaII.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.leftpanelB {
  position: relative;
  width: 105%;
  height: 400px;
  padding: 0;
  margin-top: -15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid rgb(25,25,25);
  background-color: #f23d4c;
  ;
}

.ktcbannerbkgB {
  width: 100%;
  height: 385px;
  overflow: hidden;
}

.heroA {
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-image: url('../public/BannerIMG.jpg');
  background-size: cover;
}

.contentcell {
  width: 85%;
  height: max-content;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  background-color:#a2d4f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sideselect {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}

.sideselect > div {
  width: 70%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
  border: 2px solid rgb(26,26,26);
  border-radius: 15px;
  background-color: rgba(5,5,5,0);
}

.sideselect > div > h3 {
  color: rgb(26,26,26);
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.gridrow1fr1fr{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gridrow1fr2fr {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.panelcenter {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 4%;
  color: rgb(26,26,26);
  font-size: 2rem;
}

/* sample 3 */
.bannerimgc{
  position: relative;
  width: 100vw;
  height: 80%;
  padding: 0;
  margin: 0;
  margin-top: -10px;
  background-image: url('../public/ktcherobkg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logopanelc {
  position: sticky;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  padding: 0;
  margin: 0;
}

.logoitemc {
  position: sticky;
  z-index: 101;
  top: 0;
  padding: 0;
  margin: 0;
}

.bannerstripc {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: fit-content;
  padding: 0;
  margin-top: 4%;
  background-color: rgb(87, 75, 61);
}

.ktcnameC{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(52, 52, 52);
  font-size: 2.5rem;
  padding: 0;
  margin:0;
  line-height: normal;
}

.contentcellc {
  width: 85%;
  height: max-content;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border: 2px solid rgba(25,25,25,0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentbinc {
  width: 85%;
  height: max-content;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

