body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.appcontain {
  position: relative;
  width: 100%;
  height: 100dvh;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right bottom, rgb(240, 235, 233), rgb(24, 142, 38));
  overflow: scroll;
}

.appcontainC {
  position: relative;
  width: 100%;
  height: 100dvh;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right bottom, rgb(240, 235, 233), rgb(16, 54, 123));
  overflow: scroll;
}

.contains{
  position: relative;
  width: 100vw;
  height: 100dvh;
  padding: 0;
  margin: 0;
  background-color: rgba(25,255,55,0.8);
  overflow: scroll;

}

.navbarA {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100vw;
  height: 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin-top: 0;
  background-color: rgb(184, 15, 15);
}

.navbarBcon {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 85px;
  padding: 0;
  margin: 0;
}

.navbarB {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 85px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


.navtxt {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 0;
  margin: 0;
}

.ktcnameB{
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 0;
  margin-right: 4%;
  margin-top: -140px;
}

.flexrow {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
}

.flexpage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

.pagesection {
  position: relative;
  height: 90dvh;
  padding-top: 95px;
  margin: 0;
}

.ktclogo {
  position: absolute;
  top: 12%;
  left: 2%;
  padding: 0;
  margin: 0;
} 

.ktcslogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ktcslogan h1 {
  color: white;
  font-size: 2rem;
  line-height: 2.5;
  padding: 0;
  margin: 0;
}

.ktcsloganB {
  position: absolute;
  right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ktcsloganB h1 {
  color: white;
  font-size: 2rem;
  line-height: 2.5;
  padding: 0;
  margin: 0;
}

.logo_oversize {
  width: 100vw;
  height: 150px;
  padding: 0;
  margin-top: -8px;
  background-color: rgb(85, 121, 83);
  overflow: visible;
}

.logo_oversize::before {
  content: " ";
  position: absolute;
  top: 40px;
  left: 0;
  width: 35%;
  height: 35%;
  background-image: url('../public/KTClogoAlphaII.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

.leftpanelB {
  position: relative;
  width: 60%;
  height: 400px;
  padding: 0;
  margin-top: -15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid rgb(25,25,25);
  background-color: red;
}

.leftpanelB::before {
  content: " ";
  position: absolute;
  top: 0;
  z-index: 0;
  width: 95%;
  height: 100%;
  background-image: url('../public/ktcherobkg1.jpg');
  
}

.heroA {
  height: 100%;
  padding: 0;
  margin: 0;
  background-image: url('../public/ktcherobkg1.jpg');
}


.contentcell {
  width: 85%;
  height: max-content;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  border: 2px solid rgba(25,5,235,0.8);
  background-color: rgba(25,5,235,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sideselect {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}

.sideselect > div {
  width: 70%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
  border: 2px solid rgba(25,5,235,0.8);
  background-color: rgba(5,5,5,0);
}

.sideselect > div > h3 {
  color: rgb(26,26,26);
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.gridrow1fr1fr{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gridrow1fr2fr {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.panelcenter {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 4%;
  color: rgb(26,26,26);
  font-size: 2rem;
}

.itemcenter {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-left: 18%;
  color: rgb(26,26,26);
  font-size: 1.5rem;
}

/* sample 3 */
.bannerimgc{
  position: relative;
  width: 100vw;
  height: 75%;
  padding: 0;
  margin: 0;
  margin-top: -10px;
  background-image: url('../public/ktcherobkg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  overflow: hidden;
}

.logo_oversizec {
  width: 100vw;
  height: 100px;
  padding: 0;
  margin-top: -8px;
  background-color: rgb(83, 120, 121);
  overflow: visible;
}

.logo_oversizec::before {
  content: " ";
  position: absolute;
  top: 30px;
  left: 0;
  width: 30%;
  height: 30%;
  background-image: url('../public/KTClogoAlphaII.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 1;
}

.ktcnameC{
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding: 0;
  margin-right: 4%;
  margin-top: -112px;
}
